*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(134deg, rgba(239,239,239, 0.00) 0% rgba(239,239,239, 0.20) 100%);
    backdrop-filter: blur(388.5px);
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.service-img_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    background #FFF;
    box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
    margin-top: -50px;
}